@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-main {
  min-height: 85vh;
}

.title {
  text-align: center;
  padding: 2rem 0;
  gap: .5rem;
}

.title>h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.title>span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: lighter;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}

.layout-cards {
  border: .125rem solid #ffffff8c;
  border-radius: .3125rem;
  transition: all .3s linear;
}

.layout-cards>p {
  border-radius: .3125rem;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
}

.card-container {
  margin: 1rem 1rem 0 1rem;
  background-color: slateblue;
  border-radius: .3125rem;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn .3s ease-in-out;
}

.card-container>p {
  font-weight: bold;
  font-size: 1.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}